<p>
<strong>Good news!</strong>  Your event tracker, <%= @event_tracker.name %>, has
checked in and cleared the alert.
</p>

<p>
You can view the tracker's history and status by visiting this page:<br/>
<%= event_tracker_url(@event_tracker.token) %>
</p>

