<div id="task-categories">
  <% if task_categories.size == 0 %>
    <p id='no-categories-prompt'>
      To get started, you'll need to add at least one category.
    </p>
  <% end %>
  <ul id="task-categories-list" class="list-unstyled list-group">
    <li class="list-group-item"><strong>Categories</strong></li>
    <%= render task_categories %>
  </ul>
  <p>
    <%= link_to "Add a category", new_task_category_path,
                remote: true,
                data: { toggle: "modal", target: "#modal-window"},
                class: 'btn btn-primary'
    %>
  </p>
</div>
