<% title "Tasks" %>
<% heading "Tasks" %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'task_categories/list', locals: { task_categories: @task_categories} %>
  </div>
  <div class="col-md-9">
    <%= render partial: 'list', locals: { tasks: @task_categories.first.try(:tasks) } %>
  </div>
</div>
