$background: #f2f5f6;
$purple: #8b60f9;
$light-blue: #8ec3df;

$white: #ffffff;
$off-white: #e8eef1;
$grey: #b8c2c7;
$dark-grey: #98a2a7;
$text: #454a4c;

$header: #22272b;
$aside: #313436;
$graph: #72777b;

$purple: #c56aeb;
$purple-dark: #662680;
$blue: #4eacf5;
$blue-dark: #12456c;
$green: #62de5b;
$green-dark: #155412;
$pink: #f9619e;
$pink-dark: #3a0d1f;
$yellow: #e2e763;
$yellow-dark: #595c19;
