<% title "User Accounts" %>
<% heading "#{current_user.organization.name} User Accounts" %>

<div class="row">
  <div class="col-md-6">


    <%= render partial: 'list', locals: { users: @users } %>

    <% if current_user.admin? %>
      <p>
        <%= link_to "Add a User",
                    new_user_path,
                    remote: true,
                    data: { toggle: "modal", target: "#modal-window"},
                    class: 'btn btn-primary' %>
      </p>
    <% end %>

  </div>
  <div class="col-md-6">
  </div>
</div>

