<div id="sidebar">
  <ul>
    <li><%= link_to 'Dashboard', '#' %></li>
    <li><%= link_to 'Uptime', '#' %></li>
    <li><%= link_to 'Events', '#' %></li>
    <li><%= link_to 'Account', '#' %></li>
  </ul>
</div>
