defaults: &defaults
  host:             freelancer.dev
  support_email:    FCC Support <admin@sample.com>
  site_name:        Freelancer Control Centre
  use_analytics:    0
  smtp:
    address:        smtpserver.com
    port:           465
    domain:
    authentication: :login
    user_name:      user
    password:       pass
  db:
    adapter:        mysql2
    encoding:       utf8
    pool:           5
    username:       user
    password:       pass
    socket:         /tmp/mysql.sock

development:
  <<: *defaults
  secret_key_base: 5533806fba09ec8fcadc07e2eb91d744840541be0e931de7a01b560da5a104fb774725e38be549dc486a5ef3d4cea4457764fd7da4a7b387baea902c1394d749
  database:        freelancer_dev

test:
  <<: *defaults
  secret_key_base: c14f0f887f6b4c3a953267be66c0f276af82098c128bb90b4853cb83fefc406bfa00aea858883dd569fbcf3fac556f01a109005b1275b19a4e3c4ab6b993ca22
  database:        freelancer_test

production:
  <<: *defaults
  secret_key_base: ???
  host:            freelancer-prod.com
  use_analytics:   1
  database:        freelancer_prod
  db:
    adapter:        mysql2
    encoding:       utf8
    pool:           5
    username:       user
    password:       pass
    socket:         /tmp/mysql.sock
