<h3>What are Event Trackers?</h3>

<p>
  You can use event trackers to ensure that your periodic processes are
  running when you expect them to run.
</p>

<p>
  For example, you may have a process that runs each morning at 7am and sends
  you a list of new customers that have signed up on your web site.  You can
  set up an event tracker that will notify you if the process hasn't run in the
  past 24 hours.
</p>

<div class='bs-callout bs-callout-info'>
  <h4>Selecting proper intervals</h4>
  <p>
    If your task runs hourly, try to schedule it to run close to the end of
    the hour so that you are notified quickly when it didn't execute.
  </p>
</div>
