<% title 'Event Tracker Details' %>
<% heading 'Event Tracker Details' %>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'form_instructions' %>
  </div>
</div>
