<% title 'New Event Tracker' %>
<% heading 'New Event Tracker' %>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'form_instructions' %>
  </div>
</div>

