.modal-content {

  .spinner {
    position: absolute;
    left: 42%;
    top: 30%;
    height: 120px;
    width: 120px;
    display: none;
    background-image: image-url("ajax-loader.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}
