<h1>Account#edit</h1>
<p>Find me in app/views/account/edit.html.erb</p>

<p>
  <%= link_to "New Contact", new_contact_path,
              remote: true, data: { toggle: "modal", target: "#modal-window"} %>
</p>
