<% title "#{@site.name} - Log Monitor" %>
<% heading "#{@site.name} - Log Monitor" %>

<div class="row" style="width:100%">
  <div id="ip-column" class="col-md-5" style="position:fixed; height: 100%; overflow-y: scroll;">
    <%= render partial: "ip_list", locals: { log_monitor: @log_monitor } %>
  </div>
  <div id="entry-column" class="col-md-6" style="width: 47%; position:fixed; margin-left: 43%; height: 100%; overflow-y: scroll; ">
    <h3>Details</h3>

    <div id="monitor-details">
    </div>
  </div>
</div>


